<html>
	<body>
		<h3>{{ var }}</h3>
		<p>PHP on lyhenne sanoista PHP: Hypertext Preprocessor) on Perlin kaltainen ohjelmointikieli, jota käytetään erityisesti web-palvelinympäristöissä dynaamisten web-sivujen luonnissa.</p>
		<p><a href="https:\\www.w3schools.com\php7">Avaa {{ var }}</a>.</p>
	</body>
</html>